
{% comment %}

			Template pour les bar chart
			
			Utilisation :
				Il suffit de passer une variable data contenant une liste de dict champs : valeurs
				Le premier éléments de cette liste est un élément particulier qui permet de savoir quel
				champs est a afficher en abscisse, en ordonnée ou en option (représenté par la couleur des barres)
				Ce premier élément est un dictionnaire qui doit contenir la clef x, la clef y et la clef opt 
			
			Exemple :
				[
					{'x' : 'temps', 'y' : 'population', 'opt' : ['nationalité', 'age']},
					{'temps' : '1', 'population : '123', 'nationalité' : 'test', 'age' : 'truc' },
					{'temps' : '2', 'population : '153', 'nationalité' : 'test', 'age' : 'truc' },
					{'temps' : '3', 'population : '453', 'nationalité' : 'test', 'age' : 'truc' },
					{'temps' : '4', 'population : '123', 'nationalité' : 'test', 'age' : 'truc' },
					{'temps' : '5', 'population : '163', 'nationalité' : 'test', 'age' : 'truc' },
					{'temps' : '6', 'population : '123', 'nationalité' : 'test', 'age' : 'truc' },
					{'temps' : '7', 'population : '83',  'nationalité' : 'test', 'age' : 'truc' },
					{'temps' : '8', 'population : '3',   'nationalité' : 'test', 'age' : 'truc' },
					{'temps' : '9', 'population : '13',  'nationalité' : 'test', 'age' : 'truc' }
				]
				Ces donnée permetterons d'afficher un bar chart de la population selon le temps avec la possibilité de 
				colorer les barres selon la nationalité ou l'age
				
				/!\ le champ y doit être des valeurs numérique
{% endcomment %}

<style>

.barChartArea {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
</style>

<div id="barChartRadioArea">
	<input type="radio" name="barChartOpt" onClick="updateBarChartColor()" value="---" checked="checked">Rien</input></br>
</div>
<div class="barChartArea"></div>

<script src="/static/js/d3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

<script>

	var data = {{data|safe}};

	var margin = {top: 40, right: 20, bottom: 30, left: 40},
	    width = 960 - margin.left - margin.right,
	    height = 300 - margin.top - margin.bottom;

	var x = d3.scale.ordinal()
			//.domain([0, d3.max(data)])			
      .domain(d3.time.days(new Date(2011, 0, 1), new Date(2011, 3, 1)))
	    .rangeRoundBands([0, width], .1);

	var y = d3.scale.linear()
			//.domain([0, 5000])
	    .range([height, 0]);
			
	// Scale bar
	var yMin = 0;
	var yMax = 1000;
	var xMin = 0;
	var xMax = 1000;
			
	/*var y = d3.scale.linear()
		.domain([yMin, yMax])
		.range([height-50, 50]);

	var x = d3.scale.linear()
				.domain([xMin, xMax])
				.range([50, width - 50]);*/

	var xAxis = d3.svg.axis()
	    .scale(x)
	    .orient("bottom");

	var yAxis = d3.svg.axis()
	    .scale(y)
	    .orient("left");	
			
	var zoom = d3.behavior.zoom()
	    //.x(x)
	    //.y(y)
	    //.scaleExtent([1, 10])
	    .on("zoom", zoomBarChart);

	var barchart = d3.select(".barChartArea").append("svg")
	    .attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)
	  .append("g")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
			.call(zoom);
	
	var data = {{data|safe}};
	var info = data[0];
	data.splice(0,1);
	
  x.domain(data.map(function(d) { return d[info.x]; }));
  y.domain([0, d3.max(data, function(d) { return d[info.y]; })]);

  barchart.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  barchart.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text(info.y);

  barchart.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar svg-primary")
      .attr("x", function(d) { return x(d[info.x]); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d[info.y]); })
      .attr("height", function(d) { return height - y(d[info.y]); })
			
	$.each(info.opt, function(index, value) {
		var radioBtn = $('<input type="radio" name="barChartOpt" onClick="updateBarChartColor()" value="'+value+'">'+value+'</input></br>');
		$('#barChartRadioArea').append(radioBtn);
		barchart.selectAll(".bar").attr(value, function(d) { return d[value] });
	
	});

function zoomBarChart() {
	//alert("zoom");
  barchart.select(".xaxis").call(xAxis);
  barchart.select(".yaxis").call(yAxis);
  barchart.selectAll(".chart rect").attr("transform", "translate(" + d3.event.translate[0] + ",0)scale(" + d3.event.scale + ", 1)");
}

function updateBarChartColor() {
	var radioValue = $('input[type=radio][name=barChartOpt]:checked').attr('value');
	{% for opt in data.0.opt %}
		if (radioValue == "{{opt}}")
		{
				$(".bar").attr("style","");
				$(".bar[{{opt}}=i").attr("style","fill:blue;");
				$(".bar[{{opt}}=f").attr("style","fill:red;");
		}
	{% endfor %}
	if (radioValue == "---")
	{
		$(".bar").attr("style","");
	}
}

</script>