
{% comment %}

			Template pour les bar chart
			
			Utilisation :
				Il suffit de passer une variable data contenant une liste de dict champs : valeurs
				Le premier éléments de cette liste est un élément particulier qui permet de savoir quel
				champs est a afficher en abscisse, en ordonnée ou en option (représenté par la couleur des barres)
				Ce premier élément est un dictionnaire qui doit contenir la clef x, la clef y et la clef opt 
			
			Exemple :
				[
					{'x' : 'temps', 'y' : 'population', 'opt' : ['nationalité', 'age']},
					{'temps' : '1', 'population : '123', 'nationalité' : 'test', 'age' : 'truc' },
					{'temps' : '2', 'population : '153	, 'nationalité' : 'test', 'age' : 'truc' },
					{'temps' : '3', 'population : '453', 'nationalité' : 'test', 'age' : 'truc' },
					{'temps' : '4', 'population : '123', 'nationalité' : 'test', 'age' : 'truc' },
					{'temps' : '5', 'population : '163', 'nationalité' : 'test', 'age' : 'truc' },
					{'temps' : '6', 'population : '123', 'nationalité' : 'test', 'age' : 'truc' },
					{'temps' : '7', 'population : '83',  'nationalité' : 'test', 'age' : 'truc' },
					{'temps' : '8', 'population : '3',   'nationalité' : 'test', 'age' : 'truc' },
					{'temps' : '9', 'population : '13',  'nationalité' : 'test', 'age' : 'truc' }
				]
				Ces donnée permetterons d'afficher un bar chart de la population selon le temps avec la possibilité de 
				colorer les barres selon la nationalité ou l'age
				
				/!\ le champ y doit être des valeurs numérique
{% endcomment %}

<style>
.pieChartArea{{chartId}} {
  font: 10px sans-serif;
}

.arc path {
  stroke: #fff;
}
</style>

<div id="pieChartRadioArea{{chartId}}">
	<input type="radio" name="pieChartOpt{{chartId}}" value="---" checked="checked">Rien</input></br>
</div>
<div class="pieChartArea{{chartId}}"></div>

<script src="/static/js/d3.min.js"></script>
<script>

var {{chartId}}data = {{data|safe}};
var {{chartId}}info = {{chartId}}data[0];
{{chartId}}data.splice(0,1);

var {{chartId}}width = 960,
    {{chartId}}height = 500,
    {{chartId}}radius = Math.min({{chartId}}width, {{chartId}}height) / 2;

var {{chartId}}color = d3.scale.ordinal()
    .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

var {{chartId}}arc = d3.svg.arc()
    .outerRadius({{chartId}}radius - 10)
    .innerRadius({{chartId}}radius - 100);

var {{chartId}}pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d[{{chartId}}info.rep]; });

var {{chartId}}svg = d3.select(".pieChartArea{{chartId}}").append("svg")
    .attr("width", {{chartId}}width)
    .attr("height", {{chartId}}height)
  .append("g")
    .attr("transform", "translate(" + {{chartId}}width / 2 + "," + {{chartId}}height / 2 + ")");
		
var {{chartId}}g = {{chartId}}svg.selectAll(".arc")
      .data({{chartId}}pie({{chartId}}data))
    .enter().append("g")
      .attr("class", "arc");

  {{chartId}}g.append("path")
      .attr("d", {{chartId}}arc)
      .style("fill", function(d) { return {{chartId}}color(d.data[{{chartId}}info.color])});

  {{chartId}}g.append("text")
      .attr("transform", function(d) { return "translate(" + {{chartId}}arc.centroid(d) + ")"; })
      .attr("dy", ".35em")
      .style("text-anchor", "middle")
      .text(function(d) { return d.data[{{chartId}}info.color]; });


</script>
