<link href="/static/datepicker/css/datepicker.css" rel="stylesheet"> 

<div id="{{alertZoneId}}">
</div>

<form class="form-horizontal" method="post" action="{{action}}"> {% csrf_token %} 
{% for formset in formset_list %} 
  {{ formset.management_form }} 
    {% for form in formset %}
      <div class="form-inline"> 
        <div class="col-sm-2 control-label">{{ form.label_tag }}</div>
				<div class="col-sm-10"> {% for field in form %} {{ field }} {% endfor %} </div>
			</div> 
			<br/><br/>
		{% endfor %}
{% endfor %} 
	<button class="btn btn-primary" type="submit">Envoyer</button> 
</form>

<!-- Modal --> 
<div id="cesarModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> <div class="modal-dialog"> <div class="modal-content"> <div class="modal-header"> <h3 id="myModalLabel">Cesar</h3> </div> <div class="modal-body" id="modalContent"> <div class="progress progress-striped active"> <div class="progress-bar" role="progressbar" style="width: 100%"> <span class="sr-only">Searching ...</span> </div> </div> </div> <div class="modal-footer"> <button type="button" class="btn" data-dismiss="modal">Fermer</button> </div> </div> </div> </div>

<script src="/static/datepicker/js/bootstrap-datepicker.js"></script> 
<script>

$(function(){ 
{% for date_picker_id in date_picker_id_list %} 
	var myDatePicker{{forloop.counter}} = $({{ date_picker_id }}).datepicker({format: 'yyyy-mm-dd'}).on('changeDate', function(ev) { 
		myDatePicker{{forloop.counter}}.hide(); 
	}).data('datepicker'); 
{% endfor %} 
});

function setValue(name,value) { elements = document.getElementsByName(name); if(elements.length == 1) { elements[0].value = value; } else { for(i=0;i<elements.length;i++) { if(elements[i].value==value) { elements[i].checked = 'checked'; } else { elements[i].checked = ''; } } } } {{ specific_function|safe }} </script>