<link href="/static/css/datepicker.css" rel="stylesheet"> 

<div id="{{alertZoneId}}">
</div>

<form id='{{formId}}' class="form-horizontal" method="post" action="{{action}}"> {% csrf_token %} 
{% block form %}
{% for nom,formset in formset_list.items %} 
  {{ formset.management_form }} 
    {% for form in formset %}
			<div class="form-inline row" style="margin-bottom: 0.5em;text-valign: bottom;"> 
	      <div class="col-md-2 control-label">{{ form.label_tag }}</div>
				<div class="col-md-10" style="margin-bottom: 0.5em;text-valign: bottom;">
					{% for field in form|dictsort:"value" %} {{ field }} {% endfor %}
				</div>
			</div>
		{% endfor %}
{% endfor %} 

{% endblock %}

	<input type="hidden" name="other_information" value="" />

	<button class="btn btn-primary" type="submit" id='{{formId}}Button'>Envoyer</button> 
</form>

<script src="/static/js/bootstrap-datepicker.js"></script> 
<script>

$(function(){ 
{% for date_picker_id in date_picker_id_list %} 
	var myDatePicker{{forloop.counter}} = $({{ date_picker_id }}).datepicker({format: 'yyyy-mm-dd'}).on('changeDate', function(ev) { 
		myDatePicker{{forloop.counter}}.hide(); 
	}).data('datepicker'); 
{% endfor %}

/*Set the preivous filled value */
{% for name,value in previous_values.items %}
	setValue('{{name}}','{{value}}')
{% endfor %}
	  
});

function setValue(name,value) { 
	elements = document.getElementsByName(name); 
	if(elements.length == 1) { elements[0].value = value; } 
	else { 
		for(i=0;i<elements.length;i++) { 
			if(elements[i].value==value) { 
				elements[i].checked = 'checked'; 
				elements[i].selected = 'selected'; } 
			else { 
				elements[i].checked = '';
				elements[i].selected = ''; } 
		} 
	}
} 

</script>

<script src="/static/js/{{ specific_function }}"></script> 